
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
//  stroke: black;
}

.legend {
    font-size: 12px;
}

.ok {
    position: relative; 
    float: bottom;
    width: 100%;
    text-align: center;
}

#left {
    width: 35%;
    height: 500px;
    float: left;
}

#big_chart{
    display: block;
    position: relative;
    left: -50px;
    top: -50px;
}

#right {
    width: 65%;
    float: right;
   // position: relative;
    //left: -50px;
}

.candidat {
    float: left;
}
